###--- Setup JWT configuration globals
SECRET_KEY = "your_secret_key_here"  # Replace with your own secret key
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 120

# Async PostgreSQL connection settings
ASYNC_DATABASE_URL = "postgresql+asyncpg://postgres:your_password_here@localhost:5432/negsim"

# neo4j connection settings
# Define the connection parameters
NEO4J_DATABASE=neo4j
NEO4J_URI = "neo4j://127.0.0.1:7687"  # Update with your Neo4j URI
NEO4J_USERNAME = "neo4j"  # Update with your Neo4j username
NEO4J_PASSWORD = "your_neo4j_password_here"  # Update with your Neo4j password

# dev admin credentials
ADMIN_USERNAME = "your_admin_username_here"  # Replace with a valid username
ADMIN_EMAIL = "your_admin_email_here"  # Replace with a valid email address
ADMIN_PASSWORD = "your_admin_password_here"  # Replace with a secure password

# Fixed roles for users
FIXED_ROLES = ["admin", "student", "teacher"]

# Local folder for storing raw documents
RAW_DOCS_DIR = "app/raw_docs_store"

### LLM Provider Keys
# OPEN API KEY
OPENAI_API_KEY="your_openai_api_key_here"  # Replace with your OpenAI API key
# Anthropic Claude API Key
ANTHROPIC_API_KEY="your_anthropic_api_key_here"  # Replace with your Anthropic API key

# Langsmith API Key
# Used for tracing and logging interactions with LLMs in the Langsmith platform
LANGSMITH_API_KEY="your_langsmith_api_key_here"  # Replace with your Langsmith API key
LANGSMITH_TRACING=false  # Set to true if you want to enable tracing
LANGSMITH_PROJECT="your_project_name_here"  # Replace with your Langsmith project name
LANGSMITH_ENDPOINT=https://api.smith.langchain.com

# Ollama base url
OLLAMA_BASE_URL="http://localhost:11434" # Replace with your Ollama base URL if different

# COHERE API KEY
COHERE_API_KEY="your_cohere_api_key_here"  # Replace with your Cohere API key
# HuggingFace Access Token
HF_TOKEN="your_huggingface_access_token_here"  # Replace with your HuggingFace access token

# TAVILY API KEY
TAVILY_API_KEY="your_tavily_api_key_here"  # Replace with your Tavily API key