# virtual environments
venv/
.venv/

# secrets
.env

# doc and docx files
*.doc
*.docx

# cache and log files
__pycache__/
.pytest_cache/
.ruff_cache/
*.log
.uvcache/

# specs folder
specs/
specs/*

# VS Code
.vscode/

# pdf files
*.pdf
# Include PDF files in the docs folder
!docs/*.pdf
# Include demo PDF file in the demo_docs folder
!demo_docs/*.pdf

# chroma vector store data
chroma_db/
chroma_db/*
chroma_db/**
*.bin
.vscode/settings.json

# sqlite3 database files
*.sqlite3
*/*.sqlite3
**/*.sqlite3

# plans
plans/
plans/*
plans/**

# superpowers
superpowers/
superpowers/*
superpowers/**

# frontend build files
frontend/node_modules/*
frontend/node_modules/**
frontend/dist/*
frontend/dist/**

# agents
AGENTS.md
.agents/
CLAUDE.md

# gitnexus
.gitnexus/
.gitnexus/*
.gitnexus/**

# log files
*.log
*.log.*

# understand 
.ua/