# virtual environments
venv/
.venv/

# secrets
.env

# doc and docx files
*.doc
*.docx

# cache and log files
__pycache__/
*.log

# specs folder
specs/
specs/*

# pdf files
*.pdf

# chroma vector store data
chroma_db/
chroma_db/*
chroma_db/**
*.bin
.vscode/settings.json

# plans
plans/
plans/*
plans/**

# superpowers
superpowers/
superpowers/*
superpowers/**